---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="intro">
  <Fragment slot="lead">
    Hey there! My name is Jason Sy and I'm a seasoned 
    <span class="text-primary">full stack developer</span> located 
    in Alberta, <span class="text-primary">Canada</span>.
    I have extensive experience creating 
    <span class="text-primary"> modern</span> websites and applications for 
    reputable <span class="text-primary">large scale</span> companies.
  </Fragment>
</ContentSection>
